<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	                    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	                    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	                    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
   
    <context:component-scan base-package="crm.biz,crm.web"/>	
    
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="suffix" value=".jsp"/>
        <property name="prefix" value="/"/>
    </bean>
   <!-- 创建数据源1 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" scope="singleton">
	    <property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
	    <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
	    <property name="username" value="crm"/>
	    <property name="password" value="a123"/>
	    <property name="initialSize" value="5"/>
        <property name="maxActive" value="10"/>
        <property name="maxIdle" value="5"/>
        <property name="minIdle" value="2"/>
        <property name="maxWait" value="2000"/>
	</bean>
	
	<bean id="sessionfactory" class="org.mybatis.spring.SqlSessionFactoryBean">
     <property name="configLocation" value="classpath:mybatis.config.xml"/>
     <property name="dataSource" ref="dataSource"/>
  </bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
     <property name="basePackage" value="crm.dao"/>
     <property name="sqlSessionFactoryBeanName" value="sessionfactory"/>
  </bean>
  

  
  <!-- JSON -->
  <bean id="jsonconverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
        <property name="supportedMediaTypes">
           <list>
              <value>application/json;charset=utf-8</value>
           </list>
        </property>
    </bean>
    
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
       <property name="messageConverters">
         <list>
            <ref bean="jsonconverter"/>
         </list>
       </property>
     </bean>
</beans>